<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cart</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor= "let item of items">
      <ion-thumbnail item-start>
        <img [src]= "item.produto.imageUrl || 'assets/imgs/prod.jpg'">
      </ion-thumbnail>
      <h2>{{item.produto.nome}}</h2>
      <p>{{item.produto.preco | currency}}</p>
      <ion-icon class="nolinebreak" name="remove-circle" color="primary" (click)="decreaseQuantity(item.produto)"></ion-icon>
      <p class="nolinebreak">{{item.quantidade}}</p>
      <ion-icon name="add-circle" color="primary" (click)="increaseQuantity(item.produto)"></ion-icon>
      <ion-icon name="trash" item-end color="danger" (click)="removeProduto(item.produto)"></ion-icon>
    </ion-item>
    <ion-item *ngIf="total() > 0">
      <h1>Total:</h1>
      <h1 item-end>{{total() | currency}}</h1>
    </ion-item>
    <ion-item *ngIf="total() <= 0">
      <h1 item-end>Seu carrinho está vazio</h1>
    </ion-item>
  </ion-list>

  <button ion-button block (click)="goOn()">Continuar Comprando</button>
  <button ion-button color="secondary" block (click)="checkout()" [disabled]="total() <= 0">Finalizar Compra</button>

</ion-content>
