<ion-header>
  <ion-navbar>
    <ion-title>PaymentPage</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup" (ngSubmit)="nextPage(); $event.preventDefault()">
    <ion-list radio-group formControlName="@type">
      <ion-list-header>
        Tipo de Pagamento
      </ion-list-header>
      <ion-item>
        <ion-label>Pagamento com Cartão</ion-label>
        <ion-radio checked="true" value="pagamentoComCartao"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Pagamento com Boleto</ion-label>
        <ion-radio value="pagamentoComBoleto"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-item *ngIf="formGroup.value['@type'] == 'pagamentoComCartao'">
      <ion-label stacked>Número de Parcelas</ion-label>
      <ion-select formControlName="numeroDeParcelas">
        <ion-option *ngFor= "let n of parcelas; first as f" [value]="n" [selected]="f">{{n}}</ion-option>
      </ion-select>
    </ion-item>
    <button ion-button block type="submit" [disabled]="formGroup.invalid">Proximo</button>
  </form>
</ion-content>
