
<ion-header>
  <ion-navbar>
    <ion-title>pick-address</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list-header>
      Selecione um Endereço
    </ion-list-header>
    <button ion-item *ngFor= "let endereco of enderecos" (click)="nextPage(endereco)">
      <ion-thumbnail item-start>
        <h2>{{endereco.logradouro}}, {{endereco.numero}}</h2>
        <p>{{endereco.complemento}}, {{endereco.bairro}}, CEP {{endereco.cep}}</p>
        <p>{{endereco.cidade.nome}}, {{endereco.cidade.estado.nome}}</p>
      </ion-thumbnail>
    </button>
  </ion-list>
</ion-content>
