<ion-header>
  <ion-navbar>
    <ion-title>ProdutoDetail</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-fab top right edge>
      <button navPush="CartPage" ion-fab mini><ion-icon name="cart"></ion-icon></button>
    </ion-fab>
  

  <ion-card>
    <img [src]="produto?.imageUrl || 'assets/imgs/prod.jpg'">
    <ion-card-content>
      <ion-card-title>
        {{produto?.nome}}
      </ion-card-title>
      <p>
        {{produto?.preco | currency}}
      </p>
    </ion-card-content>
  </ion-card>
  <button ion-button block outline (click) = "addToCart(produto)">Adicionar ao carrinho</button>
</ion-content>
